<%-include("includes/head.ejs")%>
  <body>
    <h3>this page belongs to @ <%=data.name%></h3>
    <button>follow</button>&nbsp;&nbsp;&nbsp;<button>followers</button>

    <p>
      followers :<%=data.followers%>&nbsp;&nbsp;&nbsp;&nbsp;following
      :<%=data.following%>
    </p>

    <hr />
    <% for(let post of data.posts){%>
    <img src="<%=post.image%>" alt="someimg" />
    <p>
      likes :<%=post.likes%>&nbsp;&nbsp;&nbsp;&nbsp;comments :<%=post.comments%>
    </p>
    <% } %>
    <%-include("includes/fotter.ejs")%>
  </body>

  <script src="/app.js"></script>
</html>
